<div class="container mt-5">
  <h3>Login</h3>
  <form (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" required />
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>
