<div class="container mt-4">
    <!-- <h3>{{pageTitle}}</h3> -->

    <div *ngIf="loading">Loading products...</div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>{{ pageTitle }}</h3>
        <button class="btn btn-success" (click)="openModal()">➕ Add Product</button>
    </div>

    <table class="table table-bordered table-striped table-hover" *ngIf="!loading && products.length > 0">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock Qty</th>
                <th>Category ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{ p.productId }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price | currency }}</td>
                <td>{{ p.stockQuantity }}</td>
                <td>{{ p.categoryId }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!loading && products.length === 0">
        No products found.
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Add New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <app-add-product (productAdded)="onProductAdded()"></app-add-product>
      </div>
    </div>
  </div>
</div>
