<form (ngSubmit)="onSubmit()" #formCustomer="ngForm">
  <div class="mb-3">
    <label>Name:</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="formModel.name" required />
  </div>

  <div class="mb-3">
    <label>Email:</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="formModel.email" required />
  </div>

  <div class="mb-3">
    <label>Phone:</label>
    <input type="tel" class="form-control" name="phone" [(ngModel)]="formModel.phone" />
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="formCustomer.invalid">
    {{ customer?.customerId ? 'Update' : 'Add' }} Customer
  </button>

</form>